body {     /*arrière-plan*/
    background: #d9d9d9;
    font-family: 'Segoe UI', Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-login {
    display: flex;
    flex-direction: column;
    align-items: center;    /* centre logo et container de connexion*/
}


.login-container {     /*bloc au centre avec coins arrondis*/
    background: #2b2b2b;
    padding: 40px 30px;
    border-radius: 14px;
    box-shadow: 0 2px 20px #000100;
    min-width: 350px;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

.login-container h1 {    /*titre Connexion*/
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
}

.message-erreur {
    color: red;
    margin-bottom: 10px;
}

.deconnexion {
    color: green;
    margin-bottom: 10px;
}

.form-group {           /*intitulés e-mail et mdp*/
    margin-top: 18px;
    color: #fff;
}

.form-control {          /*champs de saisie*/
    width: 100%;
    padding: 12px 14px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #393939;
    color: #ddd;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 4px;
}


.form-control:focus {    /*quand un champ de saisie est actif*/
    outline: none;
    background: #5a5a5a;
    color: #fff;
}

.login-container {
    background: #222;
    padding: 40px 30px;
    border-radius: 14px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
    min-width: 350px;
    width: 100%;
    max-width: 400px;
}

button[type="submit"] {         /*bouton “Se connecter”*/
    background: #0542c8;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 1.25em;
    padding: 14px 0;
    width: 100%;
    box-shadow: 0 2px 0 #042c84;
    cursor: pointer;
    margin-top: 14px;
    transition: background 0.2s;
}

button[type="submit"]:hover {          /*quand bouton "Se connecter" est survolé*/
    background: #0639a8;
}

.logo-login {           /*logo*/
    display: block;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
}
