<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<div class="sidebar">
  <div class="logo">
    <img src="img/ChessMate.png" alt="Chessmate">
    <span>Chessmate</span>
  </div>

  <a href="/new"><i class="fa fa-chess-board"></i> Jouer</a>
  <a href="/new"><i class="fa fa-puzzle-piece"></i> Problèmes</a>
  <a href="#"><i class="fa fa-info-circle"></i> Infos</a>
  <a href="/login"><i class="fa fa-user-friends"></i> Classement</a>
  <a href="#"><i class="fa fa-ellipsis-h"></i> Plus</a>

  <!-- Non connecté -->
  <div th:if="${!isLoggedIn}">
    <a href="/register"><button class="green-btn">Créer un compte</button></a>
    <a href="/login"><button class="grey-btn">Se connecter</button></a>
  </div>

  <!-- Connecté -->
  <div th:if="${isLoggedIn}" class="welcome-box">
    <p><strong>Bienvenue</strong> <span th:text="${pseudo}">Pseudo</span></p>
</div>
</div>
</body>
</html>
