<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>♙ Chessmate - Infos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/infos.css}">

</head>
<body>

<p>
    📖 Comment Jouer ?


    Choisissez un défi : Utilisez le menu déroulant à droite pour sélectionner un mode (ex: "8 Dames").

    Sélectionnez une pièce : Cliquez sur l'icône de la pièce (à gauche) et choisissez sa couleur.

    Placez sur le plateau : Cliquez sur une case vide.



    Si la case est menacée : Un message d'erreur apparaît.

    Si le coup est valide : La pièce apparaît et le compteur d'objectifs se met à jour.



    Victoire : Une fois tous les objectifs atteints sans conflit, un message de victoire s'affiche !

</p>

</body>
</html>